.img-parent {
  display: flex;
}

.img-column {
  display: flex;
  flex-direction: row-reverse;
}

.img-link {
  width: 64px;
  height: 64px;
  float: right;
}


.img-name {
	display: flex;
	flex-direction: column;
	align-self: center;
}

@media (max-width: 768px) {
	.img-column {
		width: 50%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}

	.img-name {
		direction: rtl;	
	}

}
