.img-parent {
	/*display: flex;
	align-self: center;*/
	margin: auto;
}

.img-column {
  display: flex;
  flex-direction: row-reverse;
}

.img-link {
  width: 64px;
  height: 64px;
  float: right;
}


.img-name {
	display: flex;
	flex-direction: column;
	align-self: center;
}

@media (max-width: 768px) {
	.img-parent-container, .img-parent {
		width: 100%;
	}

	.img-parent * {
		text-align: center;
	}

	.img-column {
		width: 50%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}

	.img-name {
		direction: rtl;	
	}

	.img-link {
		align-self: center;
		align-content: center;
	}

}
