@import url('https://fonts.googleapis.com/css?family=Roboto');

$bg-colour: rgb(239, 240, 248);
$main-border-rad: 3px;
$body-shadow-color: rgba(240, 240, 240, 0.877);//rgba(179, 179, 179, 0.685);

$in-progress-bg: rgba(226, 226, 226, 0.568);
$in-progress-text: #111;
$in-progress-shadow: rgba(33, 33, 33, 0.096);

* {
  font-family: "Roboto", sans-serif;
}

h2, h3 {
  text-align: center;
  font-weight: bold;  
}

#root {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-item-container {
  align-items: center;
}

.flex-spaced {
  justify-content: space-around;
}

.flex-item-center {
  align-self: center;
}

.flex-item-left {
  align-self: flex-start;
}

.flex-item-right {
  align-self: flex-end;
}

.flex-item {
  flex-grow: 1;
}

.flex-item-wide {
  flex-grow: 2;
}

.flex-hoz-center {
  justify-content: center;
}

.flex-hoz-left {
  justify-content: left;
}

.flex-hoz-right {
  justify-content: right;
}

.flex-vert-center{
  align-content: center;
}

.flex-rtl {
  flex-direction: row-reverse;
}

.full {
  width: 100%;
}

.three-quart {
  max-width: 75%;
}

.bottom-margin {
  margin-bottom: 10px;
}

html {
  background: $bg-colour;
  height: 100%;
}

body {
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;

  background: $bg-colour;
  
}

.body {
  margin-top: 60px;
  height: 100%;
  width: 100%;
  
  background: $bg-colour;
  
}

.body-item {
  width: 80%;
  height: 100%;

  border-radius: 0px 0px $main-border-rad $main-border-rad;
  box-shadow: 0px 2px 6px 4px $body-shadow-color;

  padding: 15px;
  background: white;
}

.padding-side {
  padding-left: 10px;
  padding-right: 10px;
}

.margin-center {
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.db-border {
  border: 2px solid yellow;
}

.db-border * {
  border: 2px dotted red;
}

.text-light {
  color: white;
}

@media(max-width: 768px) {
  .body-item {
    width: 100%;
  }

  .three-quart {
    max-width: 100%;
  }
}

.site-in-progress-warning {
  background: $in-progress-bg;
  color: $in-progress-text;
  padding: 5px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 1px $in-progress-shadow;
  font-size: 110%;
}